* {
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.caption {
    border: 2px solid black;
    background-color: beige;
}

.caption h2 {
    font-size: 16px;
    text-align: center;
    background-color: yellowgreen;
    width: 100px;
    margin: 0 0 0 auto;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.cap_2 h2 {
    background-color: rosybrown;
}

.cap_3 h2 {
    background-color: cornflowerblue;
}

.caption p {
    margin: 5px;
}

@media (max-width: 768px) {
    .captions {
        display: block;
    }

    .caption {
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
    }
}

@media (min-width: 768px ) and (max-width: 992px) {

    .captions {
        display: grid;
        column-gap: 3vw;
        grid-template-columns: 41vw 41vw;
    }

    .cap_3 {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 85vw;
        margin-top: 3vw;
    }
}

@media (min-width: 992px) {

    .captions {
        display: flex;
        justify-content: space-between;
    }

    .caption {
        width: 30%;
    }
}