.button {
   background-color: blue;
   border-radius: 5px;
   border: 2px solid purple;
   color: white;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   transition: all 0.2s;
   width: 150px;
}
.button:hover {
   background-color: magenta;
   color: black;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}
.button:active {
   background-color: yellow;
   color: brown;
   padding: 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

article{
   border: 1px solid black;
}

article p {
   padding: 10px;
}
article.bi {
   background: darkblue;
   color: orange;
}
article.ch {
   background: orange;
   color: darkblue;
}
article.sy {
   background: darkslategrey;
   color: chartreuse;
}
article.os {
   background: chartreuse;
   color: firebrick;
}
article.un {
   background: indigo;
   color: olive;
}
#hd1{
   text-align: center;
   font-size: 22px;
}
body a{
   font-style: italic;
}
#hd2{
   text-align: center;
}
article{
   font-size: 1.2em;
}
article h2{
   font-size: 1.2em;
}
article a{
   font-weight: bold;
}
#up{
   text-transform: uppercase;
}


@media screen and (min-width: 993px) {
   .articles{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .articles > article{
      width: 30%;
   }

   .articles article:nth-child(4), .articles article:nth-child(5){
      width: 47%;
      margin-top: 50px;
   }
}

@media screen and (max-width: 992px) and (min-width: 768px) {

   .articles{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .articles > article{
      width: 47%;
      margin-top: 50px;
   }

}

@media screen and (max-width: 767px) {

   .articles{
      display: flex;
      flex-direction: column;
   }

}