#biography {
   color: brown;
}

#biography:visited {
   color: aqua;
}

#novadays {
   color: rgb(42, 165, 73);
}

#novadays:visited {
   color: rgb(71, 39, 248);
}

#friends {
   color: rgb(235, 238, 51);
}

#friends:visited {
   color: rgb(248, 39, 137);
}

#gallery {
   color: rgb(0, 194, 253);
}

#gallery:visited {
   color: rgb(19, 2, 17);
}

h1 {
   text-align: center;
   font-size: 24px;
}

#text {
   font-size: 120%;
}



@media screen and (min-width: 993px) {
   .menu {
      display: flex;
      width: 800px;
      justify-content: space-between;
      margin: 0 auto;
   }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
   .menu {
      display: flex;
      width: 500px;
      justify-content: space-between;
      margin: 0 auto;
      flex-wrap: wrap;
   }

   .menu .menu-item {
      flex: 0 50%;
      margin-bottom: 10px;
   }
}

@media (max-width: 768px) {
.menu {
      display: flex;
      flex-direction: column;
   }
}