div.ub li ul li:nth-child(odd) {
   background:gray;
   color: white;
}
div li.ht{
   cursor: pointer;
}
div li.bc{
   background:aquamarine;
}
h1{
   text-align: center;
   font-size: 22px;
}
h2{
   text-align: center;
}
body a{
   font-style: italic;
}